/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: #ffffff;
}

/* Glass container */
.login-box {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 50px 30px;
  width: 350px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 570px;
}

/* Icon */
.login-icon {
  font-size: 40px;
  background: #f1f1f1;
  border-radius: 12px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
}

.login-box h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #333;
}

.login-box p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Inputs */
.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  font-size: 14px;
}

.forgot {
  display: block;
  text-align: right;
  font-size: 12px;
  margin-bottom: 15px;
  color: #555;
  text-decoration: none;
}

/* Button */
.btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #333, #000);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to right, #444, #111);
}

/* Divider */
.divider {
  margin: 20px 0;
  font-size: 12px;
  color: #777;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 40%;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}

/* Social buttons */
.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-buttons button {
  flex: 1;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-size: 11px;
}

.social-buttons button:hover {
  background: #f2f2f2;
}

.usersignupbtn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #38b832, #124503);
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  margin-top :8px;
}
.usersignupbtn a{
  text-decoration:none;
  color: white;
}
